
*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 26px;
  margin-bottom: 5px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 3px;
  padding: 5px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 100px;
  top: calc(40% + 5px);
  transform: translate(-100);
  color: rgb(140, 130, 130);
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 1px;
  font-size: 15px;
  color: #000;
}